<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="copyright">
            جميع الحقوق محفوظة - مكتب إدارة اللجان 1442
        </div>
        <div class="prog-vision">
            <div class="footer_logos clearfix">
                <img src="images/icons/Icon awesome-user-alt.svg" alt="">
                <img src="images/icons/calendar.svg" alt="">
                <img src="images/icons/chart-line.svg" alt="">
                <img src="images/icons/chart-pie.svg" alt="">
                <img src="images/icons/building.svg" alt="">
                <img src="images/icons/book.svg" alt="">
                <img src="images/icons/phone-square.svg" alt="">
                <img src="images/icons/balance-scale.svg" alt="">
            </div>
        </div>
    </div>
</footer>