<header class="header legan">
	<div class="top-header">
		<div class="container-fluid">
			<div>
                <h1>
                    <a href="index.html"><img src="images/logo_committee.png" alt=""></a>
                </h1>
            </div>
			<div class="vsion-logos">
				<img src="images/logo_mep.svg" alt="">
                <img src="images/logo_vision2030.svg" alt="">
            </div>
		</div>
	</div>

	<div class="main-nav">
		<nav class="navbar navbar-expand-lg">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="index.html"><i class="fas fa-home"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="maham.html"> المهام </a>
						<span class="nav-link-notify">4</span>
					</li>
					<li class="nav-item"><a class="nav-link" href="leggan.html">اللجان</a></li>
					<li class="nav-item"><a class="nav-link" href="meetings.html">الاجتماعات</a></li>
					<li class="nav-item"><a class="nav-link" href="morasalat.html">المراسلات</a></li>
					<li class="nav-item"><a class="nav-link" href="reports.html">التقارير</a></li>
					<li class="nav-item show-list"><a class="nav-link" href="#">الادارة<i
								class="fas fa-sort-down mr-2"></i></a>
						<ul class="showw-list list-unstyled px-0">
							<li class="show-files3">
								<a class="d-block py-2" href="">الملفات<i
										class="fas fa-sort-down mr-2"></i></a>
								<!-- files list -->
								<ul class="showw-files list-unstyled px-0">
									<li>
										<a class="d-block py-2" href="all_files.html"><i
												class="fas fa-caret-right ml-2"></i>جميع الملفات</a>
									</li>
									<li>
										<a class="py-2" href="template_files.html"><i
												class="fas fa-caret-right ml-2"></i>قوالب
											الملفات</a>
									</li>
									<li>
										<a class="py-2" href="index_files.html"><i
												class="fas fa-caret-right ml-2"></i>فهرس
											الملفات
										</a>
									</li>
									<li>
										<a class="py-2" href="_files.html"><i
												class="fas fa-caret-right ml-2"></i>المجلدات</a>
									</li>
								</ul>
							</li>

							<li class="show-privilage">
								<a class="py-2" href="">الصلاحيات<i class="fas fa-sort-down mr-2"></i></a>
								<!-- privilage list -->
								<ul class="showw-privilage list-unstyled px-0">
									<li>
										<a class="d-block py-2" href="groups.html"><i
												class="fas fa-caret-right ml-2"></i>المجموعات</a>
									</li>
									<li>
										<a class="py-2" href="privilages.html"><i
												class="fas fa-caret-right ml-2"></i>صلاحيات المجموعة</a>
									</li>
									<li>
										<a class="py-2" href="users_privilage.html"><i
												class="fas fa-caret-right ml-2"></i>صلاحيات الادوار
										</a>
									</li>
									<li>
										<a class="py-2" href="users_roles.html"><i
												class="fas fa-caret-right ml-2"></i>ادوار المستخدمين
										</a>
									</li>
									<li>
										<a class="py-2" href="object-privilige.html"><i
												class="fas fa-caret-right ml-2"></i>صلاحيات المستخدمين</a>
									</li>
									<li>
										<a class="py-2" href="files_privilages.html"><i
												class="fas fa-caret-right ml-2"></i>صلاحيات مستخدمين الملفات</a>
									</li>
									<li>
										<a class="py-2" href="files_privilages_index.html"><i
												class="fas fa-caret-right ml-2"></i>صلاحيات فهرس الملفات</a>
									</li>
									<li>
										<a class="py-2" href="files_privilages_group.html"><i
												class="fas fa-caret-right ml-2"></i>صلاحيات ملفات المجموعة</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="py-2" href="members.html"><i
										class="fas fa-caret-right ml-2"></i>الاعضاء</a>
							</li>
							<li>
								<a class="py-2" href="gehat.html"><i
										class="fas fa-caret-right ml-2"></i>الجهات</a>
							</li>
							<li>
								<a class="py-2" href="holidays.html"><i
										class="fas fa-caret-right ml-2"></i>العطلات
									الرسمية</a>
							</li>
							<li>
								<a class="py-2" href="lockups.html"><i
										class="fas fa-caret-right ml-2"></i>اكواد النظام</a>
							</li>
							<li>
								<a class="py-2" href="locations.html">
									<i class="fas fa-caret-right ml-2"></i>المقرات</a>
							</li>
							<li>
								<a class="py-2" href="notifications.html"><i
										class="fas fa-caret-right ml-2"></i>الاشعارات</a>
							</li>
						</ul>
					</li>
					<li class="nav-item"><a class="nav-link" href="calendar.html">التقويم</a></li>
					<li class="nav-item"><a class="nav-link" href="delegate.html">التفويضات</a></li>
				</ul>

				<div style="display:flex;align-items:center;" class="settings">
					<div class="noti_Container mlxs" id="noti_Container">
						<a href="javascript:void(0);" id="noti_Button" class="noti_Button"><i
								class="fas fa-bell"></i></a>
						<span id="noti_Counter" class="noti_Counter">7</span>
						<!--THE NOTIFICAIONS DROPDOWN BOX.-->
						<div id="notifications" class="notifications">
							<h3>اخر الإشعارات</h3>
							<div style="height:300px;" class="notifications-body scroll">
								<ol class="list">
									<li>
										<div>
											<div><span class="text-primary">تحديث</span> إنتقال لمرحلة جديدة
											</div>
											<date class="text-muted"><small><span>9.00 AM</span>
													<span>Today</span></small></date>
										</div>
										<div>طلب الديوان الملكي بالرفع والتسجيل</div>
									</li>
									<li>
										<div>
											<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
											<date class="text-muted"><small><span>9.00 AM</span>
													<span>Today</span></small></date>
										</div>
										<div>طلب الديوان الملكي بالرفع والتسجيل</div>
									</li>
									<li>
										<div>
											<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
											<date class="text-muted"><small><span>9.00 AM</span>
													<span>Today</span></small></date>
										</div>
										<div>طلب الديوان الملكي بالرفع والتسجيل</div>
									</li>
									<li>
										<div>
											<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
											<date class="text-muted"><small><span>9.00 AM</span>
													<span>Today</span></small></date>
										</div>
										<div>طلب الديوان الملكي بالرفع والتسجيل</div>
									</li>
									<li>
										<div>
											<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
											<date class="text-muted"><small><span>9.00 AM</span>
													<span>Today</span></small></date>
										</div>
										<div>طلب الديوان الملكي بالرفع والتسجيل</div>
									</li>
									<li>
										<div>
											<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
											<date class="text-muted"><small><span>9.00 AM</span>
													<span>Today</span></small></date>
										</div>
										<div>طلب الديوان الملكي بالرفع والتسجيل</div>
									</li>
									<li>
										<div>
											<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
											<date class="text-muted"><small><span>9.00 AM</span>
													<span>Today</span></small></date>
										</div>
										<div>طلب الديوان الملكي بالرفع والتسجيل</div>
									</li>
								</ol>
							</div>
							<div class="seeAll"><a href="#">شاهد الكُل</a></div>
						</div>
					</div>

					<form class="mlxs">
						<button id="arabicLang">AR</button>
						<button id="englishLang">EN</button>
					</form>

					<div class="today">
						<span>الثلاثاء 19 ذو القعدة 1442 / 29 يونيو 2021</span>
					</div>

				</div>
			</div>
		</nav>
	</div>
</header>