<!doctype html>
<html class="no-js root" lang="ar" dir="rtl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% if title %} {{ title }} {% else %} GPM {% endif %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="icon.png">

	<link rel="stylesheet" href="css/style.css">

    <script>
        (function(e, t, n) {
            var r = e.querySelectorAll("html")[0];
            r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2")
        })(document, window, 0);

        var doc = document.getElementsByTagName('html')[0];
        var links = document.getElementsByTagName('link')[0];
        var theme = localStorage.getItem('theme');
        var lang = localStorage.getItem('lang');

        if (theme !== null) {
            doc.classList.add(theme);
        } else if (theme === null) {
            doc.classList.add('root');
        }

        if (lang === null || lang == 'ar') {
            doc.setAttribute('dir', 'rtl');
            links.setAttribute('href', 'css/style-rtl.css');
        } else if (lang === 'en') {
            doc.setAttribute('dir', 'ltr');
            links.setAttribute('href', 'css/style.css');
        }
    </script>
	
</head>
<body>

	<div class="page-wrapper">
		{% if project === 'committeGPM' %}
			{% include 'headerGPM.html' %}
		{% else %}
			{% include 'headerMinistry.html' %}
		{% endif %}

		{% include 'account_strip.html' %} 
		{% block content %} {% endblock %} 
		{% include 'footerGPM.html' %}

    </div>

	<script>
		var lightBtn = document.getElementById('changeToLight');
		var darkBtn = document.getElementById('changeToDark');
	
		var arLang = document.getElementById('arabicLang');
		var enLang = document.getElementById('englishLang');
	
		var theme = localStorage.getItem('theme');
		var lang = localStorage.getItem('lang');
	
		var logo = document.getElementsByClassName('logo')[0];
		var overlay = document.getElementsByClassName('overlay')[0];
	
		if (lightBtn && darkBtn) {
			if (theme === null || theme === 'root') {
				lightBtn.style.display = 'none';
				darkBtn.style.display = 'block';
				logo.style.background = 'url("images/commColor.png") no-repeat 0 0';
				overlay.style.background = 'rgba(22, 25, 39, 0)';
			} else if (theme === 'dark') {
				lightBtn.style.display = 'block';
				darkBtn.style.display = 'none'
				logo.style.background = 'url("images/commWhite.png") no-repeat 0 0';
				overlay.style.background = 'rgba(22, 25, 39, 0.85)';
			}
		}
	
	
		if (arLang && enLang) {
			if (lang === null || lang === 'ar') {
				enLang.style.display = 'none';
				arLang.style.display = 'flex';
			} else if (lang === 'en') {
				enLang.style.display = 'flex';
				arLang.style.display = 'none';
			}
		}
	</script>

		<!-- scripts -->
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<!-- <script src="./../js/bootstrap.bundle.js"></script> -->
	
	
		<!--------------------- link js files here --------------------->
		<script src="js/select2.js"></script>
		<script src="js/bootstrap-clockpicker.js"></script>
		<script src="js/datatables.js"></script>
		<script src="js/jquery.gre.js"></script>
		<script src="js/jquery-simple-tree-table.js"></script>
		
		<!-- time spinner -->
		<script src="js/jquery-ui.js"></script>
		<script src="js/moment.js"></script>
		<script src="js/jquery-ui-timespinner.js"></script>
		
		<!-- calendar -->
		<script src="js/main.js"></script>
		<script src="js/locales-all.js"></script>
		
		<!-- datepicker -->
		<script src="js/calendar/jquery.calendars.js"></script>
		<script src="js/calendar/jquery.calendars.plus.js"></script>
		<script src="js/calendar/jquery.plugin.js"></script>
		<script src="js/calendar/jquery.calendars.picker.js"></script>
		<script src="js/calendar/jquery.calendars.islamic.js"></script>
		<script src="js/calendar/jquery.calendars.islamic-ar.js"></script>
		
		<!-- charts -->
		<script src="js/highcharts/proj4.js"></script>
		<script src="js/highcharts/highcharts.js"></script>
		<script src="js/highcharts/drilldown.js"></script>
		<script src="js/highcharts/variable-pie.js"></script>
		<script src="js/charts.js"></script>
		<script src="js/jquery.multi-select.js"></script>
		
		<script src="js/script1.js"></script>
		<script src="js/script.js"></script>
</body>
</html>