{% extends "layoutGPM.html" %} 
{% set title = 'الرئيسية' %}
{% block content %}

<div class="main-content legan" id="mainContent">

    <div class="container-fluid">
        <div class="ptsm">
            <h5>الصفحة الرئيسية</h5>
        </div>
        

        <div class="">
            <h1 class="main-title">الصفحة الرئيسية</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="ptlg pblg" id="app">

            <div class="mtlg mbxlg">
                <div class="flex justify-between">
                    <div class="ptmd pblg pllg prlg hpstatics">
                        <div>
                            <p class="text-primary text-large">المهام الموجهة</p>
                        </div>
                        <div class="mtlg mbmd">
                            <div class="text-large">
                                <p>20</p>
                            </div>
                        </div>
                    </div>

                    <div class="ptmd pblg pllg prlg hpstatics">
                        <div>
                            <p class="text-primary text-large">المهام المكتملة</p>
                        </div>
                        <div class="flex align-center mtlg mbmd">
                            <div class="progress flex1 mllg" style="height: 7px;">
                                <div class="progress-bar progress-bar-green" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="text-large">
                                <p>13</p>
                            </div>
                        </div>
                    </div>

                    <div class="ptmd pblg pllg prlg hpstatics">
                        <div>
                            <p class="text-primary text-large">المهام المعلقة</p>
                        </div>
                        <div class="flex align-center mtlg mbmd">
                            <div class="progress flex1 mllg" style="height: 7px;">
                                <div class="progress-bar progress-bar-lightgreen" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="text-large">
                                <p>4</p>
                            </div>
                        </div>
                    </div>

                    <div class="ptmd pblg pllg prlg hpstatics">
                        <div>
                            <p class="text-primary text-large">المهام المرفوضة</p>
                        </div>
                        <div class="flex align-center mtlg mbmd">
                            <div class="progress flex1 mllg" style="height: 7px;">
                                <div class="progress-bar progress-bar-darkgreen" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="text-large">
                                <p>3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard cf row">
                <div class=" dashboard-col col-lg-3 col-12">
                    <div class="list-metro-wrapper b_all" style="height:100%;">
                        <div class="title-wrapper mbmd">
                            <h5 class="title">فاعليات</h5>
                        </div>
                        <ol class="list-metro clearfix">
                            <li>
                                <a href="cmt_maham.html">
                                    <div class="metro-icon"><i class="far fa-copy"></i></div>
                                    <div class="metro-text">
                                        <h5>المهام</h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="cmt_leggan.html">
                                    <div class="metro-icon"><i class="fas fa-briefcase"></i></div>
                                    <div class="metro-text">
                                        <h5>اللجان</h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="cmt_memebrs.html">
                                    <div class="metro-icon"><i class="fas fa-file-alt"></i></div>
                                    <div class="metro-text">
                                        <h5>الاعضاء والجهات</h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="cmt_meetings.html">
                                    <div class="metro-icon"><i class="far fa-calendar-alt"></i></div>
                                    <div class="metro-text">
                                        <h5>الاجتماعات</h5>
                                    </div>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class=" dashboard-col col-lg-6 col-12">
                    <div class="b_all ptmd pbmd plmd prmd" style="height: 100%">
                        <div class="title-wrapper mbmd">
                            <h5 class="title">احداث المهام (5)</h5>
                            <div>
                                <a href="cmt_maham.html" class="link-txt fl">مشاهدة جميع المهام</span></a>
                            </div>
                        </div>
                        <table class="js-datatable table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>اسم اللجنه</th>
                                    <th>المهمة</th>
                                    <th width="150">التاريخ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>لجنة تطوير انشطة الوزارة</td>
                                    <td>تحديث إفادة عن حالة اللجنة</td>
                                    <td width="150">25/8/1440</td>
                                </tr>
                                <tr>
                                    <td>لجنة تطوير انشطة الوزارة</td>
                                    <td>تحديث إفادة عن حالة اللجنة</td>
                                    <td width="150">25/8/1440</td>
                                </tr>
                                <tr>
                                    <td>لجنة تطوير انشطة الوزارة</td>
                                    <td>تحديث إفادة عن حالة اللجنة</td>
                                    <td width="150">25/8/1440</td>
                                </tr>
                                <tr>
                                    <td>لجنة تطوير انشطة الوزارة</td>
                                    <td>تحديث إفادة عن حالة اللجنة</td>
                                    <td width="150">25/8/1440</td>
                                </tr>
                                <tr>
                                    <td>لجنة تطوير انشطة الوزارة</td>
                                    <td>تحديث إفادة عن حالة اللجنة</td>
                                    <td width="150">25/8/1440</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class=" dashboard-col col-3-lg-3 col-12">
                    <div class="b_all ptmd pbmd plmd prmd">
                        <div class="title-wrapper mbmd">
                            <a href="./cmt_calendar.html" class="title">التقويم</a>
                        </div>
                        <div class="small-cal border-bottom" id='source-calendar'></div>
                        <div class="mham-status d-flex w-100 align-items-center p-3 flex-wrap">
                            <div class="ml-3 w-auto mbsm ">
                                <span class="sky "></span>
                                <span class="m-0 py-2 ">لجان وزارية</spanp>
                            </div>

                            <div class="ml-3 w-auto mbsm ">
                                <span class="mint "></span>
                                <span class="m-0 py-2 ">لجان مجالس</spanp>
                            </div>

                            <div class="ml-3 w-auto mbsm ">
                                <span class="purple "></span>
                                <span class="m-0 py-2 ">لجان خبراء</spanp>
                            </div>

                            <div class="ml-3 w-auto mbsm ">
                                <span class="other "></span>
                                <span class="m-0 py-2 ">لجان أخري</spanp>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>

    document.addEventListener('DOMContentLoaded', function () {
            var initialLocaleCode = 'ar';

            var srcCalendarEl = document.getElementById('source-calendar');

            var srcCalendar = new FullCalendar.Calendar(srcCalendarEl, {
                editable: true,
                initialDate: '2020-09-12',
                locale: initialLocaleCode,
                events: [{
                    start: '2020-09-01',
                    backgroundColor: '#fbb040',
                    borderColor: '#fbb040'
                }, {
                    start: '2020-09-07',
                    end: '2020-09-10',
                    backgroundColor: '#0C66E1',
                    borderColor: '#0C66E1'
                }],
                eventLeave: function (info) {
                    console.log('event left!', info.event);
                }
            });

            srcCalendar.render();
            srcCalendar.setOption('locale', 'ar-sa');

        });


    
</script>
{% endblock content %}